.header {
  height: 80px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav ul li a {
  color: rgb(58, 58, 58);
  text-decoration: none;
}
