.header {
  height: 80px;
  background-color: blanchedalmond;
}

.main {
  height: 500px;
  background-color: burlywood;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer {
  height: 80px;
  background-color: rgb(123, 107, 84);
}

.card {
  height: 300px;
  width: 200px;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
